body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #007BFF, #00FF7F);
    margin: 0;
    padding: 0;
    text-align: center;
}

.heading h1 {
    color: white;
    margin: 20px 0;
    text-shadow: 2px 2px 4px #000000;
}

.search-box {
    margin: 20px 0;
}

.search-box input {
    padding: 15px;
    width: 80%;
    max-width: 600px;
    font-size: 18px;
    border: 2px solid #007BFF;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.game-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.game-links a {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    background-color: rgba(0, 123, 255, 0.8);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.3s;
}

.game-links a:hover {
    background-color: rgba(0, 123, 255, 1);
    transform: scale(1.05);
}
